<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ConfirmTitleTestNG">
    <test name="Chrome">
        <parameter name="browser" value="chrome">
            <classes>
                <class name="chapter2.confirmTitle"/>
            </classes>
        </parameter>
    </test>
    <test name="Firefox">
        <parameter name="browser" value="firefox">
            <classes>
                <class name="chapter2.confirmTitle"/>
            </classes>
        </parameter>
    </test>
</suite>
